<section id="account">
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="row">

        <div class="col-sm-12">
          <h2 class="text-center">Change Account Settings</h2>
          <p>Change your account information using the forms below.</p>
        </div><!-- /.col -->

        <div class="col-sm-12 panel panel-default">
          <div clas="panel-body">
            <h3 class="text-center">Name</h3>
            <form id="name-form" name="nameForm" ng-submit="account.updateName(account.nameInputs)" novalidate>
                <div class="form-group has-feedback" ng-class="{ 'has-error': (nameForm.firstName.$touched || nameSubmitted) && nameForm.firstName.$invalid }">
                  <label for="firstName">First Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    name="firstName"
                    ng-model="account.nameInputs.firstName"
                    ng-maxlength="30"
                    ng-pattern="/^[a-zA-Z]*$/"
                    ng-required="true">
                  <div class="help-block" ng-messages="nameForm.firstName.$error" ng-show="nameForm.firstName.$touched || nameSubmitted">
                    <p ng-message="maxlength">First Name is limited to 30 characters.</p>
                    <p ng-message="required">First Name is required.</p>
                    <p ng-message="pattern">Only letter characters allowed.</p>
                  </div>
                  <div class="form-control-feedback icons">
                    <i class="fa fa-user text-muted"></i>
                  </div>
                </div>

                <div class="form-group has-feedback" ng-class="{ 'has-error': (nameForm.lastName.$touched || submitted) && nameForm.lastName.$invalid }">
                  <label for="lastName">Last Name:</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last Name"
                    name="lastName"
                    ng-model="account.nameInputs.lastName"
                    ng-maxlength="30"
                    ng-pattern="/^[a-zA-Z]*$/"
                    ng-required="true">
                  <div class="help-block" ng-messages="nameForm.lastName.$error" ng-show="nameForm.lastName.$touched || submitted">
                    <p ng-message="maxlength">30 character limit.</p>
                    <p ng-message="required">Last Name is required.</p>
                    <p ng-message="pattern">Only letter characters allowed.</p>
                  </div>
                  <div class="form-control-feedback icons">
                    <i class="fa fa-user text-muted"></i>
                  </div>
                </div>

                <div class="alert alert-danger" ng-show="account.updateNameError">
                  <p>{{ account.updateNameError }}</p>
                </div>

                <div class="alert alert-success" ng-show="account.updateNameSuccess">
                  <p>{{ account.updateNameSuccess }}</p>
                </div>

                <div class="form-group">
                  <span ng-show="account.updatingName === true" class="spinner text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
                  <button ng-show="account.updatingName === false" type="submit" class="btn btn-success">Update Name</button>
                </div>
            </form>
          </div><!-- /.panel-body -->
        </div><!-- /.col -->

        <div class="col-sm-12 panel panel-default">
          <div clas="panel-body">
            <h3 class="text-center">Email</h3>
            <form id="email-form" name="emailForm" ng-submit="account.updateEmail(account.emailInputs.email, account.emailInputs.password)" novalidate>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : (emailForm.password.$touched || emailSubmitted) && emailForm.password.$invalid }">
                <label for="email">Password:</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  name="password"
                  ng-model="account.emailInputs.password"
                  ng-required="true">
                <div class="help-block" ng-messages="emailForm.password.$error" ng-show="emailForm.password.$touched || emailSubmitted">
                  <p ng-message="required">Password is required to change your email.</p>
                </div>
                <div class="form-control-feedback icons">
                  <i class="fa fa-lock text-muted"></i>
                </div>
              </div>

  						<div class="form-group has-feedback has-feedback-left" ng-class="{ 'has-error' : (emailForm.email.$touched || emailSubmitted) && emailForm.email.$invalid }">
                <label for="email">Email:</label>
  							<input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  name="email"
                  value=""
                  ng-model="account.emailInputs.email"
                  ng-required="true">
                <div class="help-block" ng-messages="emailForm.email.$error" ng-show="emailForm.email.$touched || emailSubmitted">
                  <p ng-message="required">Email is required.</p>
                </div>
  							<div class="form-control-feedback icons">
  								<i class="fa fa-envelope text-muted"></i>
  							</div>
  						</div>

              <div class="alert alert-danger" ng-show="account.updateEmailError">
                <p>{{ account.updateEmailError }}</p>
              </div>

              <div class="alert alert-success" ng-show="account.updateEmailSuccess">
                <p>{{ account.updateEmailSuccess }}</p>
              </div>

              <div class="form-group">
                <span ng-show="account.updatingEmail === true" class="spinner text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
                <button ng-show="account.updatingEmail === false" type="submit" class="btn btn-success">Update Email</button>
              </div>
            </form>
          </div><!-- /.panel-body -->
        </div><!-- /.col -->

        <div class="col-sm-12 panel panel-default">
          <div clas="panel-body">
            <h3 class="text-center">Password</h3>
            <form id="password-form" name="passwordForm" ng-submit="account.updatePassword(account.passwordInputs)" novalidate>
              <div class="form-group has-feedback" ng-class="{ 'has-error' : (passwordForm.password.$touched || passwordSubmitted) && passwordForm.password.$invalid }">
                <label for="email">Old Password:</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Old Password"
                  name="password"
                  ng-model="account.passwordInputs.password"
                  ng-required="true">
                <div class="help-block" ng-messages="passwordForm.password.$error" ng-show="passwordForm.password.$touched || passwordSubmitted">
                  <p ng-message="required">Your current password is required.</p>
                </div>
                <div class="form-control-feedback icons">
                  <i class="fa fa-lock text-muted"></i>
                </div>
              </div>

              <div class="form-group has-feedback" ng-class="{ 'has-error' : (passwordForm.newPassword.$touched || passwordSubmitted) && passwordForm.newPassword.$invalid }">
                <label for="password">Change Password:</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="New Password"
                  name="newPassword"
                  ng-model="account.passwordInputs.newPassword"
                  ng-minlength="6"
                  ng-maxlength="25"
                  ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
                  ng-required="true">
                <div class="help-block" ng-messages="passwordForm.newPassword.$error" ng-show="passwordForm.newPassword.$touched || submitted">
                  <p ng-message="required">New password is required.</p>
                  <p ng-message="minlength">New password must be 6-25 characters long.</p>
                  <p ng-message="maxlength">New password must be 6-25 characters long.</p>
                  <p ng-message="pattern">New password must contain one lowercase letter, one uppercase letter, and one non-alpha character (number or symbol).</p>
                </div>
                <div class="form-control-feedback icons">
                  <i class="fa fa-lock text-muted"></i>
                </div>
              </div>

              <div class="form-group has-feedback" ng-class="{ 'has-error' : (passwordForm.confirmNewPassword.$touched || passwordSubmitted) && passwordForm.confirmNewPassword.$invalid }">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirm New Password"
                  name="confirmNewPassword"
                  ng-model="account.passwordInputs.confirmNewPassword"
                  compare-to="account.passwordInputs.newPassword"
                  ng-required="true">
                <div class="help-block" ng-messages="passwordForm.confirmNewPassword.$error" ng-show="passwordForm.confirmNewPassword.$touched || submitted">
                  <p ng-message="required">Confirm New Password is required.</p>
                  <p ng-message="password">New Password and Confirm New Password fields must match.</p>
                </div>
                <div class="form-control-feedback icons">
                  <i class="fa fa-lock text-muted"></i>
                </div>
              </div>

              <div class="alert alert-danger" ng-show="account.updatePasswordError">
                <p>{{ account.updatePasswordError }}</p>
              </div>

              <div class="alert alert-success" ng-show="account.updatePasswordSuccess">
                <p>{{ account.updatePasswordSuccess }}</p>
              </div>

              <div class="form-group">
                <input type="hidden" name="passwordChangeEmail" ng-model="account.passwordInputs.email">
                <span ng-show="account.updatingPassword === true" class="spinner text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
                <button ng-show="account.updatingPassword === false" type="submit" class="btn btn-success">Update Password</button>
              </div>

  					</form><!-- /#password-form -->
          </div><!-- /.panel-body -->
        </div><!-- /.col -->

        <div class="col-sm-12 text-center">
            <button ng-click="toggleDeleteModal()" class="btn btn-danger">Delete Account</button>
        </div><!-- /.col -->

        <!-- Delete Account Modal Window -->
        <modal title="Are you sure?" visible="deleteModal">
          <form id="delete-form" ng-submit="account.delete(account.deleteInputs.email, account.deleteInputs.password)">
            <p>Enter your password to delete your account.  <span class="text-danger">Warning</span>: this is not reversible!</p>
            <div class="form-group has-feedback">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                name="password"
                ng-model="account.deleteInputs.password"
                required>
              <div class="form-control-feedback icons">
                <i class="fa fa-lock text-muted"></i>
              </div>
            </div>

            <div class="alert alert-danger" ng-show="account.deleteError">
              <p>{{ account.deleteError }}</p>
            </div>

            <div class="alert alert-success" ng-show="account.deleteSuccess">
              <p>{{ account.deleteSuccess }}</p>
            </div>

            <div class="form-group">
              <input type="hidden" name="deleteEmail" ng-model="account.deleteInputs.email">
              <span ng-show="account.deleting === true" class="spinner text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
              <button ng-show="account.deleting === false" type="submit" class="btn btn-danger">Delete Account</button>
            </div>
          </form>
        </modal>


      </div><!-- /.row -->
    </div><!-- /.col 10 -->
  </div><!-- /.container -->
</section><!-- /#account -->
