<div class="container">

  <div class="row">
    <h1 class="page-header text-center">Admin</h1>

    <!-- Edit/Delete Articles Section -->
    <div class="col-lg-12">
      <h3>Blog Articles</h3>
      <p ng-show="admin.loadingArticles === true" class="spinner text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></p>
      <div ng-show="admin.loadingArticles === false" class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-md-3">Title</th>
              <th class="col-md-2">Date</th>
              <th class="col-md-1">Author</th>
              <th class="col-md-2">Categories</th>
              <th class="col-md-1 text-center">Comments to Approve</th>
              <th style="min-width:180px;" class="col-md-3 text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="admin-articles" ng-repeat="article in admin.articles">
              <td>{{ article.title }}</td>
              <td>{{ article.date }}</td>
              <td>{{ article.author }}</td>
              <td>{{ article.category.join(', ') }}</td>
              <td class="text-center">{{ article.commentCount }}</td>
              <td class="text-center">
                <a href="/#/admin/comments/{{ article.$id }}" class="btn btn-primary btn-xs">Comments</a>
                <a href="/#/admin/edit/{{ article.$id }}" class="btn btn-primary btn-xs">Edit</a>
                <button class="btn btn-danger btn-xs" ng-click="toggleDeleteModal(article.$id, article.title)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <a href="/#/admin/add" class="btn btn-primary admin-buttons">Add New Article <i class="fa fa-plus"></i></a>
      </div>
    </div><!-- /col -->


    <!-- Approve Comments Section -->
    <div class="col-lg-12">
      <h3>Contact Requests</h3>
      <!-- <p class="spinner text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></p> -->
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-md-2">Article Title</th>
              <th class="col-md-1">Username</th>
              <th class="col-md-2">Date</th>
              <th class="col-md-5">Comment</th>
              <th class="col-md-2 text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="admin-comments">
              <td>articleName </td>
              <td>name </td>
              <td>date </td>
              <td>comment </td>
              <td class="text-center">
                <button class="btn btn-primary btn-xs">Approve</button>
                <button class="btn btn-danger btn-xs">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div><!-- /col -->

    <modal title="Are you sure?" visible="deleteArticleModal">
      <form id="delete-form" ng-submit="admin.deleteArticle(admin.deleteArticleInputs.text, admin.deleteArticleInputs.id)">
        <p>You are deleting the article titled <strong>{{ admin.deleteArticleInputs.title }}</strong>.  This article's comments will also be deleted.</p>
        <p><span class="text-danger">Warning</span>: this is not reversible!  Please type "delete" in the box below to confirm.</p>
        <div class="form-group has-feedback">
          <input
            type="text"
            class="form-control"
            placeholder="delete"
            name="deleteArticleText"
            ng-model="admin.deleteArticleInputs.text"
            required>
          <div class="form-control-feedback icons">
            <i class="fa fa-remove text-muted"></i>
          </div>
        </div>

        <div class="alert alert-danger" ng-show="admin.deleteArticleError">
          <p>{{ admin.deleteArticleError }}</p>
        </div>

        <div class="alert alert-success" ng-show="admin.deleteArticleSuccess">
          <p>{{ admin.deleteArticleSuccess }}</p>
        </div>

        <div class="form-group">
          <input type="hidden" name="deleteArticleId" ng-model="admin.deleteArticleInputs.id">
          <span ng-show="admin.deletingArticle === true" class="spinner text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
          <button ng-show="admin.deletingArticle === false" type="submit" class="btn btn-danger">Delete Article</button>
        </div>
      </form>
    </modal>

  </div><!-- /row -->
</div><!-- /container -->
