<div class="container">
  <div class="row">
      <h1 class="page-header no-border text-center"></h1>

      <!-- Blog Post Content Column -->
      <div class="col-lg-8">

          <!-- Blog Post -->
          <div class="post">
            <!-- Title -->
            <h1 class="title">{{ article.content.title }}</h1>

            <!-- Author -->
            <p class="">
                by <span class="author">{{ article.content.author }}</span>
                <span class="glyphicon glyphicon-time space-left"></span> Posted on {{ article.content.date }}
                <span ng-if="article.content.category" class="fa fa-folder-open space-left"></span>
                <span class="cat-wrapper" ng-if="article.content.category" ng-repeat="cat in article.content.category.split(', ')">
                  <a href="#/blog?search={{ cat }}&by=category" class="categories" >{{ cat }}</a>{{ $last ? '' : ', '}}
                </span>
            </p>
            <hr>

            <!-- article image -->
            <div ng-if="article.content.image" class="article-img">
              <img class="img-responsive" ng-src="images/uploads/{{article.content.image}}" alt="Article image">
              <hr>
            </div>

            <!-- Post Content -->
            <div class="article-content" ng-bind-html="article.content.body"></div>

          </div><!-- /post -->
          <hr>

          <!-- Blog Comments -->
          <!-- Comments Form -->
          <div class="well">
              <form ng-if="article.isLoggedIn === true" id="comment-form" role="form" enctype="multipart/form-data" ng-submit="article.submit(article.inputs)">
                <h4>Leave a Comment:</h4>
                <div class="form-group">
                    <textarea
                      class="form-control"
                      rows="3"
                      ng-model="article.inputs.comment"
                      id="comment"
                      name="comment"
                      rqeuired>
                    </textarea>
                </div>

                <div class="alert alert-danger" ng-show="article.saveCommentError">
                  <p>{{ article.saveCommentError }}</p>
                </div>

                <div class="alert alert-success" ng-show="article.saveCommentSuccess">
                  <p>{{ article.saveCommentSuccess }}</p>
                </div>

                <input type="hidden" name="name" ng-model="article.inputs.name">
                <div class="form-group">
                  <span ng-show="article.savingComment === true" class="spinner text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
                  <button ng-show="article.savingComment === false" type="submit" class="btn btn-primary">Submit Comment</button>
                </div>
              </form>
              <div ng-if="article.isLoggedIn === false">
                <p>You must be logged in to comment</p>
                <a href="/#/login?article={{ article.id }}" class="btn btn-primary">Login</a>
              </div>
          </div>


          <!-- Posted Comments -->
          <div ng-if="article.comments" class="media" ng-repeat="comment in article.comments">
              <!-- <div class="user-icon pull-left">
                <i class="fa fa-user fa-3x"></i>
              </div> -->
              <a class="pull-left" href="">
                  <img class="media-object" src="http://placehold.it/64x64" alt="">
              </a>
              <div class="media-body">
                  <h4 class="media-heading">{{ comment.name }}
                      <small>{{ comment.date }}</small>
                  </h4>
                  {{ comment.comment }}
              </div>
          </div>
          <div ng-if="article.comments.length === 0" class="media">
              <p>No comments yet.</p>
          </div>


          <!-- Comment w/ nested comment -->
          <!-- <div class="media">
              <a class="pull-left" href="#">
                  <img class="media-object" src="http://placehold.it/64x64" alt="">
              </a>
              <div class="media-body">
                  <h4 class="media-heading">Start Bootstrap
                      <small>August 25, 2014 at 9:30 PM</small>
                  </h4>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                  <div class="media nested-comment">
                      <a class="pull-left" href="#">
                          <img class="media-object" src="http://placehold.it/64x64" alt="">
                      </a>
                      <div class="media-body">
                          <h4 class="media-heading">Nested Start Bootstrap
                              <small>August 25, 2014 at 9:30 PM</small>
                          </h4>
                          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                      </div>
                  </div>
              </div>
          </div> -->

      </div>

      <!-- Blog Sidebar Widgets Column -->
      <div class="col-md-4">
          <div class="well text-center">
            <a href="/#/blog" class="btn btn-lg btn-block btn-primary">Back to Blog</a>
          </div>
          <!-- Blog Search Well -->
          <!-- <div class="well">
              <h4>Blog Search</h4>
              <div class="input-group">
                  <input id="searchbox" type="text" class="form-control" ng-model="article.query[article.queryBy]">
                  <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                          <span class="glyphicon glyphicon-search"></span>
                  </button>
                  </span>
              </div>
              <!--
              <h4>Search By:</h4>
              <select class="form-control" ng-change="article.clearSearch()" ng-model="article.queryBy">
                <option value="$"></option>
                <option value="title">Title</option>
                <option value="category">Category</option>
                <option value="date">Date</option>
                <option value="author">Author</option>
                <option value="body">Text content</option>
              </select>
          </div> -->

          <!-- Recent Articles Well -->
          <div class="well">
              <h4>Recent Articles</h4>
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="list-unstyled">
                          <li ng-repeat="article in article.articles" ng-if="$index < 4">
                            <a href="#/articles/{{ article._id }}">{{ article.title}}</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <!-- /.row -->
          </div>

          <!-- Blog Categories Well -->
          <div class="well">
              <h4>Blog Categories</h4>
              <div class="row">
                  <div class="col-lg-6">
                      <ul class="list-unstyled">
                          <li ng-repeat='cat_odds in article.categories' ng-if="$index % 2 !== 0">
                              <a href="#/blog?search={{ cat_odds }}&by=category">{{ cat_odds }}</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-6">
                      <ul class="list-unstyled">
                          <li ng-repeat='cat_evens in article.categories' ng-if="$index % 2 === 0">
                              <a href="#/blog?search={{ cat_evens }}&by=category">{{ cat_evens }}</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <!-- /.row -->
          </div>

          <!-- Facebook Pages Widget Well -->
          <div class="well text-center">
            <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
              <div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook">
                <a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
              </div>
            </div>
          </div>

      </div>

  </div>
  <!-- /.row -->

  <hr>
</div><!-- /container -->
