<div class="container">
  <div class="row">
      <h1 class="page-header no-border text-center"></h1>

      <!-- Blog Post Content Column -->

      <div class="col-md-8">
        <p ng-show="article.contentLoading === true" class="blog-spinner spinner text-center"><i class="fa fa-spinner fa-spin fa-3x"></i></p>
        <div class="loadingWrapper" ng-show="article.contentLoading === false">
          <!-- Blog Post -->
          <div class="post">
            <!-- Title -->
            <h1 class="title">{{ article.content.title }}</h1>

            <!-- Author -->
            <p class="">
                by <span class="author">{{ article.content.author }}</span>
                <span class="glyphicon glyphicon-time space-left"></span> Posted on {{ article.content.date }}
                <span ng-if="article.content.category" class="fa fa-folder-open space-left"></span>
                <span class="cat-wrapper" ng-if="article.content.category" ng-repeat="cat in article.content.category.split(', ')">
                  <a href="#/blog?search={{ cat }}&by=category" class="categories" >{{ cat }}</a>{{ $last ? '' : ', '}}
                </span>
            </p>
            <hr>

            <!-- article image -->
            <div ng-if="article.content.image" class="article-img">
              <img class="img-responsive" ng-src="{{article.content.image}}" alt="Article image">
              <hr>
            </div>

            <!-- Post Content -->
            <div class="article-content" ng-bind-html="article.content.body"></div>

            <div class="back-blog text-center">
              <a href="/#/blog" class="btn btn-lg btn-primary"><i class="fa fa-arrow-left"></i> Back to Blog</a>
            </div>
          </div><!-- /post -->
          <hr>

          <!-- Blog Comments -->
          <div class="well">
              <form ng-if="article.isLoggedIn === true" id="comment-form" name="article.commentingForm" ng-submit="article.submit(article.inputs)" novalidate>
                <h4>Leave a Comment:</h4>
                <div class="form-group" ng-class="{ 'has-error' : (article.commentingForm.comment.$touched || article.submitted) && article.commentingForm.comment.$invalid }">
                    <textarea
                      class="form-control"
                      rows="3"
                      ng-model="article.inputs.comment"
                      id="comment"
                      name="comment"
                      ng-maxlength="1000"
                      ng-required='true'>
                    </textarea>
                    <div class="help-block" ng-messages="article.commentingForm.comment.$error" ng-show="article.commentingForm.comment.$touched || article.submitted">
                      <p ng-message="maxlength">Comment is limited to 1,000 characters.</p>
                      <p ng-message="required">Comment is required.</p>
                    </div>
                    <div class="form-control-feedback icons">
                      <i class="fa fa-commenting text-muted"></i>
                    </div>
                </div>

                <div class="alert alert-danger" ng-show="article.saveCommentError">
                  <p>{{ article.saveCommentError }}</p>
                </div>

                <div class="alert alert-success" ng-show="article.saveCommentSuccess">
                  <p>{{ article.saveCommentSuccess }}</p>
                </div>

                <input type="hidden" name="name" ng-model="article.inputs.name">
                <input type="hidden" name="userImage" ng-model="article.inputs.userImage">
                <div class="form-group">
                  <span ng-show="article.savingComment === true" class="spinner text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
                  <button ng-show="article.savingComment === false" type="submit" class="btn btn-success">Submit Comment</button>
                </div>
              </form>
              <div ng-if="article.isLoggedIn === false">
                <p>You must be logged in to comment</p>
                <a href="/#/login?page=articles/{{ article.id }}" class="btn btn-success">Login</a>
              </div>
          </div>


          <!-- Posted Comments -->
          <div ng-if="article.comments" class="media" ng-repeat="comment in article.comments">
              <!-- <div class="user-icon pull-left">
                <i class="fa fa-user fa-3x"></i>
              </div> -->
              <div class="pull-left">
                  <img class="comment-img media-object" ng-class="{ default: comment.image === 'default' }" ng-src="{{ comment.image === 'default' ? '/images/user.png' : comment.image }}" alt="User profile image">
              </div>
              <div class="media-body">
                  <h4 class="media-heading">{{ comment.name }}
                      <small>{{ comment.date }}</small>
                  </h4>
                  {{ comment.comment }}
              </div>
          </div>
          <div ng-if="article.comments.length === 0" class="media">
              <p>No comments yet.</p>
          </div>

        </div><!-- /.loadingWrapper -->
      </div><!-- /.col-md-8 -->

      <!-- Blog Sidebar Widgets Column -->
      <div class="col-md-4 side-widgets">

          <!-- Recent Articles Well -->
          <div class="well">
              <h4>Recent Articles</h4>
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="list-unstyled">
                          <li ng-repeat="article in article.articles" ng-if="$index < 4">
                            <a href="#/articles/{{ article._id }}">{{ article.title}}</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <!-- /.row -->
          </div>

          <!-- Blog Categories Well -->
          <div class="well">
              <h4>Blog Categories</h4>
              <div class="row">
                  <div class="col-lg-6">
                      <ul class="list-unstyled">
                          <li ng-repeat='cat_odds in article.categories' ng-if="$index % 2 !== 0">
                              <a href="#/blog?search={{ cat_odds }}&by=category">{{ cat_odds }}</a>
                          </li>
                      </ul>
                  </div>
                  <div class="col-lg-6">
                      <ul class="list-unstyled">
                          <li ng-repeat='cat_evens in article.categories' ng-if="$index % 2 === 0">
                              <a href="#/blog?search={{ cat_evens }}&by=category">{{ cat_evens }}</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <!-- /.row -->
          </div>

          <!-- Facebook Pages Widget Well -->
          <div class="well text-center">
            <div class="fb-page" data-href="https://www.facebook.com/debtfreeliving" data-tabs="timeline" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
              <div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/debtfreeliving">
                <a href="https://www.facebook.com/debtfreeliving" target="_blank">Facebook</a></blockquote>
              </div>
            </div>
          </div>

      </div>

  </div>
  <!-- /.row -->

  <hr>
</div><!-- /container -->
