<section id="hero">
  <!-- Carousel - don't wrap within a container
  ================================================== -->
  <uib-carousel id="home-carousel" interval="myInterval" no-wrap="noWrapSlides" no-transition="false">
      <uib-slide ng-repeat="slide in homeSlides" active="slide.active" index="slide.id">
        <!-- ng-swipe-x for mobile -->
        <img ng-src="{{slide.image}}" class="slider-images {{ slide.class }}" ng-swipe-right="showPrev('home')" ng-swipe-left="showNext('home')">
        <div class="carousel-caption">
          <div class="faded">
            <h1 class="slide-title">{{slide.title}}</h1>
            <p class="slide-caption">{{slide.text}}</p>
            <a href="{{ slide.link }}" class="slide-button btn btn-primary">{{slide.button}}</a>
          </div>
        </div>
      </uib-slide>
  </uib-carousel>

</section>


<section id="featurette">
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <div class="container">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-sm-4 text-center">
        <span class="fa-stack fa-5x">
          <i class="feature-icons fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-calculator fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Get Started</h3>
        <p class="feature-blurb">Create your free account in just minutes to access our debt elimination calculator.</p>
        <p><a class="btn btn-default" href="/#/login">Create Account »</a></p>
      </div>
      <div class="col-sm-4 text-center">
        <span class="fa-stack fa-5x">
          <i class="feature-icons fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Follow Your Plan</h3>
        <p class="feature-blurb">Our calculator allocates and prioritizes your payments to target high-interest debts first.  Stick with your plan and get out of debt.</p>
        <p><a class="btn btn-default" href="/#/my_plan/calculator">Create Plan »</a></p>
      </div>
      <div class="col-sm-4 text-center">
        <span class="fa-stack fa-5x">
          <i class="feature-icons fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
        </span>
        <h3>Live Debt Free</h3>
        <p class="feature-blurb">Maintain a debt-free lifestyle by following our blog.  We offer free education, guidance, resources, and tips.  Come join the conversation!</p>
        <p><a class="btn btn-default" href="/#/blog">Visit Blog »</a></p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>

<section id="testimonials">
  <div class="container">
      <uib-carousel id="testimonials-carousel" interval="testimonialsInterval" no-wrap="noWrapSlides" no-transition="false">
          <uib-slide ng-repeat="testimonial in testimonialsSlides" active="testimonial.active" index="testimonial.id">
            <!-- ng-swipe-x for mobile -->
            <img ng-src="">
            <div class="testimonials" ng-swipe-right="showPrev('testimonials')" ng-swipe-left="showNext('testimonials')">
              <div class="row">
                <div class="col-md-4">
                  <img class="img-circle testimonial-image" ng-src="{{testimonial.image}}">
                </div>
                <div class="col-md-8">
                  <div class="text-wrapper">
                    <p class="testimonial-text">"{{testimonial.text}}"</p>
                    <!-- <p class="testimonial-name">~ {{testimonial.name}}</p> -->
                  </div>
                </div>
              </div>
            </div>

          </uib-slide>
      </uib-carousel>
    </div><!-- /container -->
</section>

<section id="bio">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4>A Word from Our Founder</h4>
        <p>
          Are You Ready to Get Comfortable with Your Debt Free Side?
        </p>
        <p>
          The mechanics of becoming debt free are simple and easy to understand.  We are committed to giving you
          all of the tools you need to put together a personal debt elimination plan.
        </p>
        <p>
          As far as committing to becoming that debt free person - that is on you.  This might be one of the most
          rewarding journeys of your life.  Are you ready to be Debt Free?
        </p>

        <a href="/#/about" class="btn btn-primary">Read More &gt;&gt;</a>
      </div>
      <div class="col-md-4 text-center founder-photo">
        <img src="/images/Einar_Schow.JPG" class="img-circle img-responsive" alt="Photo of Einar Schow"/>
      </div>
    </div>
  </div>
</section>
