<section id="login">
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1 panel panel-default">
      <div class="row">

        <div class="col-sm-6 login-side">
          <div class="border-right"></div>
          <h2 class="text-center">Login</h2>

          <div class="panel-body">
            <form id="login-form" name="loginForm" ng-submit="login.login(login.loginInputs)" novalidate>
              <div class="form-group has-feedback has-feedback-left" ng-class="{ 'has-error': clickedLogin && loginForm.email.$invalid }">
    								<input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      name="email"
                      ng-model="login.loginInputs.email"
                      ng-required="true"
                      autofocus>
                    <div class="help-block" ng-messages="loginForm.email.$error" ng-show="clickedLogin">
                      <p ng-message="required">Email is required.</p>
                    </div>
                    <div class="form-control-feedback icons">
    									<i class="fa fa-envelope text-muted"></i>
    								</div>
    							</div>

                  <div class="form-group has-feedback" ng-class="{ 'has-error': clickedLogin && loginForm.password.$invalid }">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      name="password"
                      ng-model="login.loginInputs.password"
                      ng-required="true">
                    <div class="help-block" ng-messages="loginForm.password.$error" ng-show="clickedLogin">
                      <p ng-message="required">Password is required.</p>
                    </div>
                    <div class="form-control-feedback icons">
                      <i class="fa fa-lock text-muted"></i>
                    </div>
                  </div>

                  <div class="form-group login-options">
    								<div class="row">
    									<div class="col-xs-6">
    										<label class="checkbox-inline">
    											<input
                            type="checkbox"
                            class="styled"
                            name="remember"
                            ng-model="login.loginInputs.remember">
    											Remember me
    										</label>
    									</div>

    									<div class="col-xs-6 text-right">
    										<a href="/#/forgot">Forgot password?</a>
    									</div>
    								</div><!-- /.row -->
    							</div>

                  <div class="alert alert-danger" ng-show="login.loginError">
                    <p>{{ login.loginError }}</p>
                  </div>

                  <div class="alert alert-success" ng-show="login.loginSuccess">
                    <p>{{ login.loginSuccess }}</p>
                  </div>

    							<div class="form-group text-center">
                    <span ng-show="login.loggingIn === true" class="spinner text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
                    <button ng-show="login.loggingIn === false" type="submit" class="btn btn-success btn-block">Login</button>
    							</div>

                  <div class="or text-center text-muted">
                    <span class="hr-ed">OR</span>
                  </div>

    					</form>

              <div class="oauth">
                <a href="" ng-click="login.oauth('facebook')" class="btn btn-default btn-block oauth-facebook"><i class="fa fa-facebook"></i>Login with Facebook</a>
                <a href="" ng-click="login.oauth('google')" class="btn btn-default btn-block oauth-google"><i class="fa fa-google"></i>Login with Google</a>
              </div>

          </div><!-- /.panel-body -->
        </div><!-- /.col -->


        <div class="col-sm-6 .register-side">
          <h2 class="text-center">Register</h2>

          <div class="panel-body">
            <form id="register-form" name="registerForm" ng-submit="login.register(login.registerInputs)" novalidate>
                  <div class="form-group has-feedback" ng-class="{ 'has-error': (registerForm.firstName.$touched || submitted) && registerForm.firstName.$invalid }">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="First Name"
                      name="firstName"
                      value=""
                      ng-model="login.registerInputs.firstName"
                      ng-maxlength="30"
                      ng-pattern="/^[a-zA-Z]*$/"
                      ng-required="true">
                    <div class="help-block" ng-messages="registerForm.firstName.$error" ng-show="registerForm.firstName.$touched || submitted">
                      <p ng-message="maxlength">First Name is limited to 30 characters.</p>
                      <p ng-message="required">First Name is required.</p>
                      <p ng-message="pattern">Only letter characters allowed.</p>
                    </div>
                    <div class="form-control-feedback icons">
                      <i class="fa fa-user text-muted"></i>
                    </div>
                  </div>

                  <div class="form-group has-feedback" ng-class="{ 'has-error': (registerForm.lastName.$touched || submitted) && registerForm.lastName.$invalid }">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Last Name"
                      name="lastName"
                      value=""
                      ng-model="login.registerInputs.lastName"
                      ng-maxlength="30"
                      ng-pattern="/^[a-zA-Z]*$/"
                      ng-required="true">
                    <div class="help-block" ng-messages="registerForm.lastName.$error" ng-show="registerForm.lastName.$touched || submitted">
                      <p ng-message="maxlength">30 character limit.</p>
                      <p ng-message="required">Last Name is required.</p>
                      <p ng-message="pattern">Only letter characters allowed.</p>
                    </div>
                    <div class="form-control-feedback icons">
                      <i class="fa fa-user text-muted"></i>
                    </div>
                  </div>

                  <div class="form-group has-feedback" ng-class="{ 'has-error' : (registerForm.email.$touched || submitted) && registerForm.email.$invalid }">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      name="email"
                      ng-model="login.registerInputs.email"
                      ng-required="true">
                    <div class="help-block" ng-messages="registerForm.email.$error" ng-show="registerForm.email.$touched || submitted">
                      <p ng-message="required">Email is required.</p>
                    </div>
                    <div class="form-control-feedback icons">
                      <i class="fa fa-envelope text-muted"></i>
                    </div>
                  </div>

                  <div class="form-group has-feedback" ng-class="{ 'has-error' : (registerForm.password.$touched || submitted) && registerForm.password.$invalid }">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      name="password"
                      ng-model="login.registerInputs.password"
                      ng-minlength="6"
                      ng-maxlength="25"
                      ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"
                      ng-required="true">
                    <div class="help-block" ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched || submitted">
                      <p ng-message="required">Password is required.</p>
                      <p ng-message="minlength">Password must be 6-25 characters long.</p>
                      <p ng-message="maxlength">Password must be 6-25 characters long.</p>
                      <p ng-message="pattern">Password must contain one lowercase letter, one uppercase letter, and one non-alpha character (number or symbol).</p>
                    </div>
                    <div class="form-control-feedback icons">
                      <i class="fa fa-lock text-muted"></i>
                    </div>
                  </div>

                  <div class="form-group has-feedback" ng-class="{ 'has-error' : (registerForm.confirmPassword.$touched || submitted) && registerForm.confirmPassword.$invalid }">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Confirm Password"
                      name="confirmPassword"
                      ng-model="login.registerInputs.confirmPassword"
                      compare-to="login.registerInputs.password"
                      ng-required="true">
                    <div class="help-block" ng-messages="registerForm.confirmPassword.$error" ng-show="registerForm.confirmPassword.$touched || submitted">
                      <p ng-message="required">Confirm Password is required.</p>
                      <p ng-message="password">Password and Confirm Password fields must match.</p>
                    </div>
                    <div class="form-control-feedback icons">
                      <i class="fa fa-lock text-muted"></i>
                    </div>
                  </div>

                  <div class="form-group login-options" ng-class="{ 'has-error' : submitted && registerForm.agreed.$invalid }">
                    <div class="row">
                      <div class="col-sm-12">
                        <label class="checkbox-inline">
                          <input
                            type="checkbox"
                            class="styled"
                            name="agreed"
                            ng-model="login.registerInputs.terms"
                            ng-required="true">
                          I have read and agree to the <a href="/#/terms_of_service/#" target="_blank">Terms of Service</a>
                        </label>
                        <div class="help-block" ng-messages="registerForm.agreed.$error" ng-show="submitted">
                          <p ng-message="required">You must agree to the Terms of Service.</p>
                        </div>
                      </div>
                    </div><!-- /.row -->
                  </div>

                  <div class="form-group has-feedback text-center" ng-class="{ 'has-error' : submitted && registerForm.captcha.$invalid }">
                      <div
                        class="captcha"
                        vc-recaptcha
                        theme="'light'"
                        name="captcha"
                        ng-model="login.registerInputs.captcha"
                        ng-required="true"
                        key="'6Lfm1xwTAAAAAE9r28v3u0XhXh94ApoMduYGM0Am'"
                        on-create="setWidgetId(widgetId)"
                        on-success="setResponse(response)"
                        on-expire="cbExpiration()">
                      </div>
                      <div class="help-block" ng-messages="registerForm.captcha.$error" ng-show="registerForm.captcha.$invalid && submitted">
                        <p ng-message="required">Captcha is required.</p>
                      </div>
                  </div>

                  <div class="alert alert-danger" ng-show="login.registerError">
                    <p>{{ login.registerError }}</p>
                  </div>

                  <div class="alert alert-success" ng-show="login.registerSuccess">
                    <p>{{ login.registerSuccess }}</p>
                  </div>

                  <div class="form-group text-center">
                    <span ng-show="login.submitting === true" class="spinner text-center"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
                    <button ng-show="login.submitting === false" type="submit" class="btn btn-success btn-block">Create Account</button>
                  </div>

              </form>

            </div><!-- /.panel-body -->
          </div><!-- /.panel -->
        </div><!-- /.col -->


      </div><!-- /.row -->
    </div><!-- /.col 10 -->
  </div><!-- /.container -->
</section><!-- /#login -->
